<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="chat">
        @*<div class="chat-list">
            <span class="chat-title">Recent</span>
            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item unread" data-sidebar-id="chat-right-sidebar">
                <div class="user-avatar">
                    <img src="http://via.placeholder.com/40x40" alt="">
                </div>
                <div class="chat-info">
                    <span class="chat-author">David</span>
                    <span class="chat-text">where u at?</span>
                    <span class="chat-time">08:50</span>
                </div>
            </a>
            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item unread active-user" data-sidebar-id="chat-right-sidebar">
                <div class="user-avatar">
                    <img src="http://via.placeholder.com/40x40" alt="">
                </div>
                <div class="chat-info">
                    <span class="chat-author">Daisy</span>
                    <span class="chat-text">Daisy sent a photo.</span>
                    <span class="chat-time">11:34</span>
                </div>
            </a>
        </div>
        <div class="chat-list">
            <span class="chat-title">Older</span>
            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item" data-sidebar-id="chat-right-sidebar">
                <div class="user-avatar">
                    <img src="http://via.placeholder.com/40x40" alt="">
                </div>
                <div class="chat-info">
                    <span class="chat-author">Tom</span>
                    <span class="chat-text">You: ok</span>
                    <span class="chat-time">2d</span>
                </div>
            </a>
            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
                <div class="user-avatar">
                    <img src="http://via.placeholder.com/40x40" alt="">
                </div>
                <div class="chat-info">
                    <span class="chat-author">Anna</span>
                    <span class="chat-text">asdasdasd</span>
                    <span class="chat-time">4d</span>
                </div>
            </a>
            <a href="javascript:void(0);" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
                <div class="user-avatar">
                    <img src="http://via.placeholder.com/40x40" alt="">
                </div>
                <div class="chat-info">
                    <span class="chat-author">Liza</span>
                    <span class="chat-text">asdasdasd</span>
                    <span class="chat-time">&nbsp;</span>
                </div>
            </a>
            <a href="javascript:void(0);" class="load-more-messages" data-toggle="tooltip" data-placement="bottom" title="Load More">&bull;&bull;&bull;</a>
        </div>*@
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
        @*<div class="right-sidebar-settings">
            <span class="settings-title">General Settings</span>
            <ul class="sidebar-setting-list list-unstyled">
                <li>
                    <span class="settings-option">Notifications</span><input type="checkbox" class="js-switch" checked />
                </li>
                <li>
                    <span class="settings-option">Activity log</span><input type="checkbox" class="js-switch" checked />
                </li>
                <li>
                    <span class="settings-option">Automatic updates</span><input type="checkbox" class="js-switch" />
                </li>
                <li>
                    <span class="settings-option">Allow backups</span><input type="checkbox" class="js-switch" />
                </li>
            </ul>
            <span class="settings-title">Account Settings</span>
            <ul class="sidebar-setting-list list-unstyled">
                <li>
                    <span class="settings-option">Chat</span><input type="checkbox" class="js-switch" checked />
                </li>
                <li>
                    <span class="settings-option">Incognito mode</span><input type="checkbox" class="js-switch" />
                </li>
                <li>
                    <span class="settings-option">Public profile</span><input type="checkbox" class="js-switch" />
                </li>
            </ul>
        </div>*@
    </div>
</div>
