<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="api" value="64fe5514ee0f471d83ada12c10b500c6" />
    <add key="url" value="https://newsapi.org/v2/" />
  </appSettings>
</configuration>